.level
{
    width: 964px;
    height: 544px;
    background-color: #422E92;
        position: relative;
}

/*
.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 

}
*/


.triangle2 {   
    float: left;
    width: 30px;
    height: 35px;
    border-style: solid;
    border-width: 17px 30px 17px 0;
    border-color: transparent #422E92 transparent transparent;

}


.triangle1 {   
    float: left;
    width: 30px;
    height: 35px;
    border-style: solid;
border-width: 17px 0 17px 30px;
border-color: transparent transparent transparent #422E92;

}


.game_row_1{
position: absolute;
    top: 0px;
    }


    .game_row_2{
position: absolute;
    top: 18px;
    }


.game_row_3{
position: absolute;
    top: 36px;
    }


    .game_row_4{
position: absolute;
    top: 54px;
    }


.game_row_5{
position: absolute;
    top: 72px;
    }


    .game_row_6{
position: absolute;
    top: 90px;
    }


.game_row_7{
position: absolute;
    top: 108px;
    }


    .game_row_8{
position: absolute;
    top: 126px;
    }


.game_row_9{
position: absolute;
    top: 144px;
    }


    .game_row_10{
position: absolute;
    top: 162px;
    }


.game_row_11{
position: absolute;
    top: 180px;
    }


    .game_row_12{
position: absolute;
    top: 198px;
    }


.game_row_13{
position: absolute;
    top: 216px;
    }


    .game_row_14{
position: absolute;
    top: 234px;
    }


.game_row_15{
position: absolute;
    top: 252px;
    }


    .game_row_16{
position: absolute;
    top: 270px;
    }


.game_row_17{
position: absolute;
    top: 288px;
    }


    .game_row_18{
position: absolute;
    top: 306px;
    }


.game_row_19{
position: absolute;
    top: 324px;
    }


    .game_row_20{
position: absolute;
    top: 342px;
    }


.game_row_21{
position: absolute;
    top: 360px;
    }


    .game_row_22{
position: absolute;
    top: 378px;
    }


.game_row_23{
position: absolute;
    top: 396px;
    }


    .game_row_24{
position: absolute;
    top: 414px;
    }


.game_row_25{
position: absolute;
    top: 432px;
    }


    .game_row_26{
position: absolute;
    top: 450px;
    }


.game_row_27{
position: absolute;
    top: 0px;
    }


    .game_row_28{
position: absolute;
    top: 18px;
    }


.game_row_29{
position: absolute;
    top: 468px;
    }


    .game_row_30{
position: absolute;
    top: 486px;
    }


.game_row_31{
position: absolute;
    top: 504px;
    }